@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  Note: The styles for this gradient grid background is heavily inspired by the creator of this amazing site (https://dub.sh) – all credits go to them! 
*/

*{
  font-family: 'Urbanist';
  color: white;
  animation: loading 2s 0s ease-in-out;
}

/*
	keyframe while page is loading
*/

@keyframes loading {
	0% {
		transform: scale(1.02);
		opacity: 0;
	}
	10% {
		transform: scale(1.01);
		opacity: .1;
	}
	50% {
		transform: scale(1.01);
		opacity: .5;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}


html{
  background-color: black;
  scroll-behavior: smooth;
  margin: 0 6rem;
}


.arrow{
  animation: float 2s ease-in-out infinite;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-10px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

@media screen and (max-width: 768px) {
  html{
    margin: 0 .2rem;
  }
}

.rounded_shadowed{
	content: '';
	box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
  	border-radius: 1rem;
	width: 2rem;
	height: 2rem;
	position: absolute;
}

@keyframes up {
	0% {
		box-shadow: -5px 0px 15px -3px #0f0f0f;
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-10px);
	}
	100% {
		box-shadow: -5px 0px 15px -3px #0f0f0f;
		transform: translatey(0px);
	}
}
@keyframes down {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	100% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-10px);
	}
}

.boxes-journey:not(:hover){
	box-shadow: -5px 0px 15px -3px #0f0f0f;
	animation: down .7s ease-in-out;
	z-index: 1;
  }
  
.boxes-journey:hover{
	transition: all 1s ease-in-out;
	animation: up .7s ease-in-out;
	z-index: 1;
}